@font-face {
    font-family: "Avenir";
    src: url(./fonts/Avenir/Avenir-Heavy.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Avenir";
    src: url(./fonts/Avenir/Avenir-Medium.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Avenir";
    src: url(./fonts/Avenir/Avenir-Book.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Avenir", "Helvetica Neue", sans-serif !important;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    color: #1d1d1d;
}

.MuiButton-label {
    text-transform: none;
}

.MuiMenu-paper {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.MuiDialogTitle-root h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MuiDialogTitle-root strong {
    margin-bottom: -2px;
    padding-right: 30px;
}
.MuiDialogTitle-root {
    padding: 8px 24px;
}
