@font-face {
    font-family: "Avenir";
    src: url(./fonts/Avenir/Avenir-Heavy.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Avenir";
    src: url(./fonts/Avenir/Avenir-Medium.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Avenir";
    src: url(./fonts/Avenir/Avenir-Book.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Avenir", "Helvetica Neue", sans-serif;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    color: #1d1d1d;
}

.MuiButton-label {
    text-transform: none;
}